.w-50 p {
  font-size: 16px;
  text-align: left;
  font-family: Lucida Sans;
  width: 25%;
  border-width: 2px;
  border-style: solid;
  color: rgb(1, 0, 0);
  background-color: #ffffff39;
  border-image: linear-gradient(to right, rgb(245, 234, 14), rgb(21, 231, 21)) 1;
  margin-bottom: auto;
}

.w-50 input {
  background: rgba(13, 218, 170, 0.092);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.ypologismos {
  width: 50%;
  margin: 0px 400px;
  border: solid 2px black;
  border-radius: 2rem;
  font-size: large;
  color: #fff;
  background-color: #17a2b8;
  visibility: visible;
}

.diahorismos {
  width: 50%;
  border: solid 2px rgb(234, 255, 0);
  border-radius: 2rem;
  font-size: large;
  color: #fff;
  background-color: #212529;
}

.d-flex input {
  margin: 0.9em 0em;
}

.d-flex button {
  margin: 1.5em 0.6em;
  padding: 0.3em 2.4em;
}

#dmppname {
  margin: 1.5rem;
  border-radius: 2.2rem;
  background-color: #212529;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#dmppname1 {
  margin: 1.5rem;
  background-color: #17a2b8;
  border-radius: 2.2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.container table {
  margin: 50px;
  width: 100%;
}

.insert input {
  margin: 1.4rem 0rem;
  width: 80%;
  height: 50%;
}

th {
  border: solid 2px;
  border-color: black;
  border-radius: 2px;
  font-size: large;
}

td {
  border: solid 2px aqua;
  border-radius: 5px;
  font-size: medium;
}

table .btnedit {
  color: rgb(33, 212, 30);
  cursor: pointer;
}

table .btndelete {
  color: red;
  cursor: pointer;
}

table .btnselect {
  color: rgb(21, 0, 255);
  cursor: pointer;
}
/*BTNs*/
.btn-icons {
  flex-direction: column;
}

/* messages */
.insertmsg,
.updatemsg,
.deletemsg {
  position: absolute;
  top: -40px;
}

.movedown {
  animation: slideup 4.5s ease;
}

@keyframes slideup {
  50% {
    top: 0;
  }
  100% {
    top: -40px;
  }
}

@media screen and (max-width: 480px) {
  table,
  table thead,
  table tbody,
  table th,
  table td,
  table tr {
    display: block;
    display: flex;
    flex-direction: column;
  }
}
